<?xml version="1.0"?>
<configuration>
  <location path="system/AuthCode.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Plugins">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
    <pages enableViewState="true" enableEventValidation="false" validateRequest="false" enableSessionState="true" viewStateEncryptionMode="Always"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="300" enableVersionHeader="false" requestValidationMode="2.0"/>
  </system.web>

  <!--<system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>-->
</configuration>