.icon { display: inline-block; width: 14px; height: 14px; line-height: 14px; vertical-align: text-bottom; background-image: url(glyphicons-halflings.png); background-position: 14px 14px; background-repeat: no-repeat; }
.icon-white { background-image: url("glyphicons-halflings-white.png"); }
.opacity01 { opacity: 0.1; }
.opacity02 { opacity: 0.2; }
.opacity03 { opacity: 0.3; }
.opacity04 { opacity: 0.4; }
.opacity05 { opacity: 0.5; }
.opacity06 { opacity: 0.6; }
.opacity07 { opacity: 0.7; }
.opacity08 { opacity: 0.8; }
.opacity09 { opacity: 0.9; }
.opacity10 { opacity: 1; }

.icon-glass { background-position: 0 0; }
.icon-music { background-position: -24px 0; }
.icon-search { background-position: -48px 0; }
.icon-envelope { background-position: -72px 0; }
.icon-heart { background-position: -96px 0; }
.icon-star { background-position: -120px 0; }
.icon-star-empty { background-position: -144px 0; }
.icon-user { background-position: -168px 0; }
.icon-film { background-position: -192px 0; }
.icon-th-large { background-position: -216px 0; }
.icon-th { background-position: -240px 0; }
.icon-th-list { background-position: -264px 0; }
.icon-ok { background-position: -288px 0; }
.icon-remove { background-position: -312px 0; }
.icon-zoom-in { background-position: -336px 0; }
.icon-zoom-out { background-position: -360px 0; }
.icon-off { background-position: -384px 0; }
.icon-signal { background-position: -408px 0; }
.icon-cog { background-position: -432px 0; }
.icon-trash { background-position: -456px 0; }
.icon-home { background-position: 0 -24px; }
.icon-file { background-position: -24px -24px; }
.icon-time { background-position: -48px -24px; }
.icon-road { background-position: -72px -24px; }
.icon-download-alt { background-position: -96px -24px; }
.icon-download { background-position: -120px -24px; }
.icon-upload { background-position: -144px -24px; }
.icon-inbox { background-position: -168px -24px; }
.icon-play-circle { background-position: -192px -24px; }
.icon-repeat { background-position: -216px -24px; }
.icon-refresh { background-position: -240px -24px; }
.icon-list-alt { background-position: -264px -24px; }
.icon-lock { background-position: -287px -24px; }
.icon-flag { background-position: -312px -24px; }
.icon-headphones { background-position: -336px -24px; }
.icon-volume-off { background-position: -360px -24px; }
.icon-volume-down { background-position: -384px -24px; }
.icon-volume-up { background-position: -408px -24px; }
.icon-qrcode { background-position: -432px -24px; }
.icon-barcode { background-position: -456px -24px; }
.icon-tag { background-position: 0 -48px; }
.icon-tags { background-position: -25px -48px; }
.icon-book { background-position: -48px -48px; }
.icon-bookmark { background-position: -72px -48px; }
.icon-print { background-position: -96px -48px; }
.icon-camera { background-position: -120px -48px; }
.icon-font { background-position: -144px -48px; }
.icon-bold { background-position: -167px -48px; }
.icon-italic { background-position: -192px -48px; }
.icon-text-height { background-position: -216px -48px; }
.icon-text-width { background-position: -240px -48px; }
.icon-align-left { background-position: -264px -48px; }
.icon-align-center { background-position: -288px -48px; }
.icon-align-right { background-position: -312px -48px; }
.icon-align-justify { background-position: -336px -48px; }
.icon-list { background-position: -360px -48px; }
.icon-indent-left { background-position: -384px -48px; }
.icon-indent-right { background-position: -408px -48px; }
.icon-facetime-video { background-position: -432px -48px; }
.icon-picture { background-position: -456px -48px; }
.icon-pencil { background-position: 0 -72px; }
.icon-map-marker { background-position: -24px -72px; }
.icon-adjust { background-position: -48px -72px; }
.icon-tint { background-position: -72px -72px; }
.icon-edit { background-position: -96px -72px; }
.icon-share { background-position: -120px -72px; }
.icon-check { background-position: -144px -72px; }
.icon-move { background-position: -168px -72px; }
.icon-step-backward { background-position: -192px -72px; }
.icon-fast-backward { background-position: -216px -72px; }
.icon-backward { background-position: -240px -72px; }
.icon-play { background-position: -264px -72px; }
.icon-pause { background-position: -288px -72px; }
.icon-stop { background-position: -312px -72px; }
.icon-forward { background-position: -336px -72px; }
.icon-fast-forward { background-position: -360px -72px; }
.icon-step-forward { background-position: -384px -72px; }
.icon-eject { background-position: -408px -72px; }
.icon-chevron-left { background-position: -432px -72px; }
.icon-chevron-right { background-position: -456px -72px; }
.icon-plus-sign { background-position: 0 -96px; }
.icon-minus-sign { background-position: -24px -96px; }
.icon-remove-sign { background-position: -48px -96px; }
.icon-ok-sign { background-position: -72px -96px; }
.icon-question-sign { background-position: -96px -96px; }
.icon-info-sign { background-position: -120px -96px; }
.icon-screenshot { background-position: -144px -96px; }
.icon-remove-circle { background-position: -168px -96px; }
.icon-ok-circle { background-position: -192px -96px; }
.icon-ban-circle { background-position: -216px -96px; }
.icon-arrow-left { background-position: -240px -96px; }
.icon-arrow-right { background-position: -264px -96px; }
.icon-arrow-up { background-position: -289px -96px; }
.icon-arrow-down { background-position: -312px -96px; }
.icon-share-alt { background-position: -336px -96px; }
.icon-resize-full { background-position: -360px -96px; }
.icon-resize-small { background-position: -384px -96px; }
.icon-plus { background-position: -408px -96px; }
.icon-minus { background-position: -433px -96px; }
.icon-asterisk { background-position: -456px -96px; }
.icon-exclamation-sign { background-position: 0 -120px; }
.icon-gift { background-position: -24px -120px; }
.icon-leaf { background-position: -48px -120px; }
.icon-fire { background-position: -72px -120px; }
.icon-eye-open { background-position: -96px -120px; }
.icon-eye-close { background-position: -120px -120px; }
.icon-warning-sign { background-position: -144px -120px; }
.icon-plane { background-position: -168px -120px; }
.icon-calendar { background-position: -192px -120px; }
.icon-random { width: 16px; background-position: -216px -120px; }
.icon-comment { background-position: -240px -120px; }
.icon-magnet { background-position: -264px -120px; }
.icon-chevron-up { background-position: -288px -120px; }
.icon-chevron-down { background-position: -313px -119px; }
.icon-retweet { background-position: -336px -120px; }
.icon-shopping-cart { background-position: -360px -120px; }
.icon-folder-close { width: 16px; background-position: -384px -120px; }
.icon-folder-open { width: 16px; background-position: -408px -120px; }
.icon-resize-vertical { background-position: -432px -119px; }
.icon-resize-horizontal { background-position: -456px -118px; }
.icon-hdd { background-position: 0 -144px; }
.icon-bullhorn { background-position: -24px -144px; }
.icon-bell { background-position: -48px -144px; }
.icon-certificate { background-position: -72px -144px; }
.icon-thumbs-up { background-position: -96px -144px; }
.icon-thumbs-down { background-position: -120px -144px; }
.icon-hand-right { background-position: -144px -144px; }
.icon-hand-left { background-position: -168px -144px; }
.icon-hand-up { background-position: -192px -144px; }
.icon-hand-down { background-position: -216px -144px; }
.icon-circle-arrow-right { background-position: -240px -144px; }
.icon-circle-arrow-left { background-position: -264px -144px; }
.icon-circle-arrow-up { background-position: -288px -144px; }
.icon-circle-arrow-down { background-position: -312px -144px; }
.icon-globe { background-position: -336px -144px; }
.icon-wrench { background-position: -360px -144px; }
.icon-tasks { background-position: -384px -144px; }
.icon-filter { background-position: -408px -144px; }
.icon-briefcase { background-position: -432px -144px; }
.icon-fullscreen { background-position: -456px -144px; }

.iconsweets { display: inline-block; width: 16px; height: 16px; vertical-align: middle; background-image: url(iconsweets-icons.png); background-position: -16px -16px; background-repeat: no-repeat; }
.iconsweets-white { background-image: url("iconsweets-icons-white.png"); }

.iconsweets-magnifying-glass { background-position: -16px -16px; }
.iconsweets-trashcan { background-position: -48px -16px; }
.iconsweets--trashcan2 { background-position: -80px -16px; }
.iconsweets-presentation { background-position: -112px -16px; }
.iconsweets-download { background-position: -144px -16px; }
.iconsweets-download2 { background-position: -176px -16px; }
.iconsweets-upload { background-position: -208px -16px; }
.iconsweets-flag { background-position: -240px -16px; }
.iconsweets-flag2 { background-position: -272px -16px; }
.iconsweets-finish-flag { background-position: -304px -16px; }
.iconsweets-podium { background-position: -16px -48px; }
.iconsweets-cup { background-position: -48px -48px; }
.iconsweets-home { background-position: -80px -48px; }
.iconsweets-home2 { background-position: -112px -48px; }
.iconsweets-link { background-position: -144px -48px; }
.iconsweets-link2 { background-position: -176px -48px; }
.iconsweets-notebook { background-position: -208px -48px; }
.iconsweets-book { background-position: -240px -48px; }
.iconsweets-book-large { background-position: -272px -48px; }
.iconsweets-books { background-position: -304px -48px; }
.iconsweets-tree { background-position: -16px -80px; }
.iconsweets-construction { background-position: -48px -80px; }
.iconsweets-umbrella { background-position: -80px -80px; }
.iconsweets-mail { background-position: -112px -80px; }
.iconsweets-help { background-position: -144px -80px; }
.iconsweets-rss { background-position: -176px -80px; }
.iconsweets-strategy { background-position: -208px -80px; }
.iconsweets-strategy2 { background-position: -240px -80px; }
.iconsweets-apartment { background-position: -272px -80px; }
.iconsweets-companies { background-position: -304px -80px; }
.iconsweets-ghost { background-position: -16px -112px; }
.iconsweets-pacman { background-position: -48px -112px; }
.iconsweets-vault { background-position: -80px -112px; }
.iconsweets-archive { background-position: -112px -112px; }
.iconsweets-cabinet { background-position: -144px -112px; }
.iconsweets-bandaid { background-position: -176px -112px; }
.iconsweets-postcard { background-position: -208px -112px; }
.iconsweets-alert { background-position: -240px -112px; }
.iconsweets-alert2 { background-position: -272px -112px; }
.iconsweets-alarm { background-position: -304px -112px; }
.iconsweets-alarm2 { background-position: -16px -144px; }
.iconsweets-robot { background-position: -48px -144px; }
.iconsweets-globe { background-position: -80px -144px; }
.iconsweets-globe2 { background-position: -112px -144px; }
.iconsweets-chemical { background-position: -144px -144px; }
.iconsweets-lightbulb { background-position: -176px -144px; }
.iconsweets-cloud { background-position: -208px -144px; }
.iconsweets-cloud-upload { background-position: -240px -144px; }
.iconsweets-cloud-download { background-position: -272px -144px; }
.iconsweets-lamp { background-position: -304px -144px; }
.iconsweets-preview { background-position: -16px -176px; }
.iconsweets-icecream { background-position: -48px -176px; }
.iconsweets-icecream2 { background-position: -80px -176px; }
.iconsweets-paperclip { background-position: -112px -176px; }
.iconsweets-footprints { background-position: -144px -176px; }
.iconsweets-firefox { background-position: -176px -176px; }
.iconsweets-chrome { background-position: -208px -176px; }
.iconsweets-safari { background-position: -240px -176px; }
.iconsweets-loadingbar { background-position: -272px -176px; }
.iconsweets-bullseye { background-position: -304px -176px; }
.iconsweets-folder { background-position: -16px -208px; }
.iconsweets-locked { background-position: -48px -208px; }
.iconsweets-locked2 { background-position: -80px -208px; }
.iconsweets-unlock { background-position: -112px -208px; }
.iconsweets-tag { background-position: -144px -208px; }
.iconsweets-tag2 { background-position: -176px -208px; }
.iconsweets-mac { background-position: -208px -208px; }
.iconsweets-windows { background-position: -240px -208px; }
.iconsweets-linux { background-position: -272px -208px; }
.iconsweets-create { background-position: -304px -208px; }
.iconsweets-expose { background-position: -16px -240px; }
.iconsweets-key { background-position: -48px -240px; }
.iconsweets-key2 { background-position: -80px -240px; }
.iconsweets-table { background-position: -112px -240px; }
.iconsweets-chair { background-position: -144px -240px; }
.iconsweets-denied { background-position: -176px -240px; }
.iconsweets-ballons { background-position: -208px -240px; }
.iconsweets-cat { background-position: -240px -240px; }
.iconsweets-airplane { background-position: -272px -240px; }
.iconsweets-track { background-position: -304px -240px; }
.iconsweets-car { background-position: -16px -272px; }
.iconsweets-info { background-position: -48px -272px; }
.iconsweets-alarmclock { background-position: -80px -272px; }
.iconsweets-stopwatch { background-position: -112px -272px; }
.iconsweets-timer { background-position: -144px -272px; }
.iconsweets-clock { background-position: -176px -272px; }
.iconsweets-day { background-position: -208px -272px; }
.iconsweets-month { background-position: -240px -272px; }
.iconsweets-dress { background-position: -272px -272px; }
.iconsweets-tshirt { background-position: -304px -272px; }
.iconsweets-sportshirt { background-position: -16px -304px; }
.iconsweets-sweater { background-position: -48px -304px; }
.iconsweets-sleeveless { background-position: -80px -304px; }
.iconsweets-pants { background-position: -112px -304px; }
.iconsweets-socks { background-position: -144px -304px; }
.iconsweets-trolly { background-position: -176px -304px; }
.iconsweets-medical { background-position: -208px -304px; }
.iconsweets-suitcase { background-position: -240px -304px; }
.iconsweets-suitcase2 { background-position: -272px -304px; }
.iconsweets-suitcase3 { background-position: -304px -304px; }
.iconsweets-shoppingbag { background-position: -16px -336px; }
.iconsweets-purse { background-position: -48px -336px; }
.iconsweets-bag { background-position: -80px -336px; }
.iconsweets-paypal { background-position: -112px -336px; }
.iconsweets-paypal2 { background-position: -144px -336px; }
.iconsweets-paypal3 { background-position: -176px -336px; }
.iconsweets-money { background-position: -208px -336px; }
.iconsweets-money2 { background-position: -240px -336px; }
.iconsweets-pricetag { background-position: -272px -336px; }
.iconsweets-pricetags { background-position: -304px -336px; }
.iconsweets-piggybank { background-position: -16px -368px; }
.iconsweets-lemonade { background-position: -48px -368px; }
.iconsweets-basket { background-position: -80px -368px; }
.iconsweets-basket2 { background-position: -112px -368px; }
.iconsweets-scan { background-position: -144px -368px; }
.iconsweets-cart { background-position: -176px -368px; }
.iconsweets-cart2 { background-position: -208px -368px; }
.iconsweets-cart3 { background-position: -240px -368px; }
.iconsweets-cart4 { background-position: -272px -368px; }
.iconsweets-digg { background-position: -304px -368px; }
.iconsweets-digg2 { background-position: -16px -400px; }
.iconsweets-buzz { background-position: -48px -400px; }
.iconsweets-delicious { background-position: -80px -400px; }
.iconsweets-twitter { background-position: -112px -400px; }
.iconsweets-twitter2 { background-position: -144px -400px; }
.iconsweets-tumblr { background-position: -176px -400px; }
.iconsweets-plixi { background-position: -208px -400px; }
.iconsweets-dribbble { background-position: -240px -400px; }
.iconsweets-dribbble2 { background-position: -272px -400px; }
.iconsweets-stumbleupon { background-position: -304px -400px; }
.iconsweets-lastfm { background-position: -16px -432px; }
.iconsweets-mobypicture { background-position: -48px -432px; }
.iconsweets-youtube { background-position: -80px -432px; }
.iconsweets-youtube2 { background-position: -112px -432px; }
.iconsweets-vimeo { background-position: -144px -432px; }
.iconsweets-vimeo2 { background-position: -176px -432px; }
.iconsweets-skype { background-position: -208px -432px; }
.iconsweets-facebook { background-position: -240px -432px; }
.iconsweets-like { background-position: -272px -432px; }
.iconsweets-ichat { background-position: -304px -432px; }
.iconsweets-myspace { background-position: -16px -464px; }
.iconsweets-dropbox { background-position: -48px -464px; }
.iconsweets-walking { background-position: -80px -464px; }
.iconsweets-running { background-position: -112px -464px; }
.iconsweets-exit { background-position: -144px -464px; }
.iconsweets-male { background-position: -176px -464px; }
.iconsweets-female { background-position: -208px -464px; }
.iconsweets-user { background-position: -240px -464px; }
.iconsweets-users { background-position: -272px -464px; }
.iconsweets-admin { background-position: -304px -464px; }
.iconsweets-malesymbol { background-position: -16px -496px; }
.iconsweets-femalesymbol { background-position: -48px -496px; }
.iconsweets-user2 { background-position: -80px -496px; }
.iconsweets-users2 { background-position: -112px -496px; }
.iconsweets-admin2 { background-position: -144px -496px; }
.iconsweets-usercomment { background-position: -176px -496px; }
.iconsweets-cog { background-position: -208px -496px; }
.iconsweets-cog2 { background-position: -240px -496px; }
.iconsweets-cog3 { background-position: -272px -496px; }
.iconsweets-cog4 { background-position: -304px -496px; }
.iconsweets-settings { background-position: -16px -528px; }
.iconsweets-settings2 { background-position: -48px -528px; }
.iconsweets-hd { background-position: -80px -528px; }
.iconsweets-hd2 { background-position: -112px -528px; }
.iconsweets-hd3 { background-position: -144px -528px; }
.iconsweets-sd { background-position: -176px -528px; }
.iconsweets-sd2 { background-position: -208px -528px; }
.iconsweets-sd3 { background-position: -240px -528px; }
.iconsweets-dvd { background-position: -272px -528px; }
.iconsweets-blueray { background-position: -304px -528px; }
.iconsweets-record { background-position: -16px -560px; }
.iconsweets-cd { background-position: -48px -560px; }
.iconsweets-cassette { background-position: -80px -560px; }
.iconsweets-image { background-position: -112px -560px; }
.iconsweets-image2 { background-position: -144px -560px; }
.iconsweets-image3 { background-position: -176px -560px; }
.iconsweets-image4 { background-position: -208px -560px; }
.iconsweets-sound { background-position: -240px -560px; }
.iconsweets-megaphone { background-position: -272px -560px; }
.iconsweets-film { background-position: -304px -560px; }
.iconsweets-film2 { background-position: -16px -592px; }
.iconsweets-headphone { background-position: -48px -592px; }
.iconsweets-microphone { background-position: -80px -592px; }
.iconsweets-printer { background-position: -112px -592px; }
.iconsweets-radio { background-position: -144px -592px; }
.iconsweets-television { background-position: -176px -592px; }
.iconsweets-imac { background-position: -208px -592px; }
.iconsweets-laptop { background-position: -240px -592px; }
.iconsweets-mightymouse { background-position: -272px -592px; }
.iconsweets-magicmouse { background-position: -304px -592px; }
.iconsweets-mousewire { background-position: -16px -624px; }
.iconsweets-camera { background-position: -48px -624px; }
.iconsweets-camera2 { background-position: -80px -624px; }
.iconsweets-monitor { background-position: -112px -624px; }
.iconsweets-ipod { background-position: -144px -624px; }
.iconsweets-ipodnano { background-position: -176px -624px; }
.iconsweets-ipad { background-position: -208px -624px; }
.iconsweets-filmcamera { background-position: -240px -624px; }
.iconsweets-calculator { background-position: -272px -624px; }
.iconsweets-cashregister { background-position: -304px -624px; }
.iconsweets-fax { background-position: -16px -656px; }
.iconsweets-frames { background-position: -48px -656px; }
.iconsweets-coverflow { background-position: -80px -656px; }
.iconsweets-list { background-position: -112px -656px; }
.iconsweets-list2 { background-position: -144px -656px; }
.iconsweets-list3 { background-position: -176px -656px; }
.iconsweets-list4 { background-position: -208px -656px; }
.iconsweets-wordpress { background-position: -240px -656px; }
.iconsweets-wordpress2 { background-position: -272px -656px; }
.iconsweets-joomla { background-position: -304px -656px; }
.iconsweets-expressionengine { background-position: -16px -688px; }
.iconsweets-drupal { background-position: -48px -688px; }
.iconsweets-arrowright { background-position: -80px -688px; }
.iconsweets-arrowleft { background-position: -112px -688px; }
.iconsweets-arrowdown { background-position: -144px -688px; }
.iconsweets-arrowup { background-position: -176px -688px; }
.iconsweets-refresh { background-position: -208px -688px; }
.iconsweets-refresh2 { background-position: -240px -688px; }
.iconsweets-repeat { background-position: -272px -688px; }
.iconsweets-shuffle { background-position: -304px -688px; }
.iconsweets-refresh3 { background-position: -16px -720px; }
.iconsweets-refresh4 { background-position: -48px -720px; }
.iconsweets-recycle { background-position: -80px -720px; }
.iconsweets-fullscreen { background-position: -112px -720px; }
.iconsweets-fitscreen { background-position: -144px -720px; }
.iconsweets-origscreen { background-position: -176px -720px; }
.iconsweets-bluetooth { background-position: -208px -720px; }
.iconsweets-bluetooth2 { background-position: -240px -720px; }
.iconsweets-wifi { background-position: -272px -720px; }
.iconsweets-wifi2 { background-position: -304px -720px; }
.iconsweets-iphone3 { background-position: -16px -752px; }
.iconsweets-iphone4 { background-position: -48px -752px; }
.iconsweets-blackberry { background-position: -80px -752px; }
.iconsweets-android { background-position: -112px -752px; }
.iconsweets-mobile { background-position: -144px -752px; }
.iconsweets-inbox { background-position: -176px -752px; }
.iconsweets-outgoing { background-position: -208px -752px; }
.iconsweets-incoming { background-position: -240px -752px; }
.iconsweets-speech { background-position: -272px -752px; }
.iconsweets-speech2 { background-position: -304px -752px; }
.iconsweets-speech3 { background-position: -16px -784px; }
.iconsweets-speech4 { background-position: -48px -784px; }
.iconsweets-phone { background-position: -80px -784px; }
.iconsweets-phone2 { background-position: -112px -784px; }
.iconsweets-battery { background-position: -144px -784px; }
.iconsweets-battery2 { background-position: -176px -784px; }
.iconsweets-battery3 { background-position: -208px -784px; }
.iconsweets-battery4 { background-position: -240px -784px; }
.iconsweets-batteryfull { background-position: -272px -784px; }
.iconsweets-power { background-position: -304px -784px; }
.iconsweets-electric { background-position: -16px -816px; }
.iconsweets-plug { background-position: -48px -816px; }
.iconsweets-brush { background-position: -80px -816px; }
.iconsweets-brush2 { background-position: -112px -816px; }
.iconsweets-pen { background-position: -144px -816px; }
.iconsweets-bigbrush { background-position: -176px -816px; }
.iconsweets-pencil { background-position: -208px -816px; }
.iconsweets-clipboard { background-position: -240px -816px; }
.iconsweets-scissor { background-position: -272px -816px; }
.iconsweets-eyedrop { background-position: -304px -816px; }
.iconsweets-abacus { background-position: -16px -848px; }
.iconsweets-ruler { background-position: -48px -848px; }
.iconsweets-ruler2 { background-position: -80px -848px; }
.iconsweets-map { background-position: -112px -848px; }
.iconsweets-maps { background-position: -144px -848px; }
.iconsweets-post { background-position: -176px -848px; }
.iconsweets-marker { background-position: -208px -848px; }
.iconsweets-document { background-position: -240px -848px; }
.iconsweets-documents { background-position: -272px -848px; }
.iconsweets-pdf { background-position: -304px -848px; }
.iconsweets-pdf2 { background-position: -16px -880px; }
.iconsweets-word { background-position: -48px -880px; }
.iconsweets-word2 { background-position: -80px -880px; }
.iconsweets-word3 { background-position: -112px -880px; }
.iconsweets-zip { background-position: -144px -880px; }
.iconsweets-zip2 { background-position: -176px -880px; }
.iconsweets-ppt { background-position: -208px -880px; }
.iconsweets-ppt2 { background-position: -240px -880px; }
.iconsweets-excel { background-position: -272px -880px; }
.iconsweets-excel2 { background-position: -304px -880px; }
.iconsweets-vcard { background-position: -16px -912px; }
.iconsweets-vcard2 { background-position: -48px -912px; }
.iconsweets-address { background-position: -80px -912px; }
.iconsweets-chart { background-position: -112px -912px; }
.iconsweets-chart2 { background-position: -144px -912px; }
.iconsweets-chart3 { background-position: -176px -912px; }
.iconsweets-chart4 { background-position: -208px -912px; }
.iconsweets-chart5 { background-position: -240px -912px; }
.iconsweets-chart6 { background-position: -272px -912px; }
.iconsweets-chart7 { background-position: -304px -912px; }
.iconsweets-chart8 { background-position: -16px -944px; }
