<?xml version="1.0"?>
<configuration>
  <location path="skin">
    <system.web>
      <authorization>
        <allow users="?"/><!--允许匿名用户访问-->
      </authorization>
    </system.web>
  </location>
  <location path="Plugin-S/Ajax.ashx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Plugin-S/AuthCode.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--<location path="Plugins">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>-->

  <system.web>
    <authorization>
      <!--拒绝匿名用户访问-->
      <deny users="?"/>
    </authorization>

    <pages enableSessionState="true" enableViewState="true" enableEventValidation="false" validateRequest="false"
           viewStateEncryptionMode="Always" maintainScrollPositionOnPostBack="true"/>
    <httpRuntime maxRequestLength="2097151" executionTimeout="300" enableVersionHeader="false" requestValidationMode="2.0"/>
  </system.web>

  <!--<system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>-->
</configuration>