<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--开启后台虚拟文件处理-->
    <add key="MaskDevFile" value="false"/>
    <!--数据库类型-->
    <add key="ConnType" value="SqlServer"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=.;Initial Catalog=data;uid=sa;pwd=sa;" providerName="System.Data.SqlClient" />
    <add name="SqlServerCe" connectionString="Data Source=|DataDirectory|data.sdf;Max Database Size=4091;Password=sa_19850523;Persist Security Info=True;Temp File Max Size=256;" providerName="System.Data.SqlServerCe" />
    <add name="ACCESS" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|data.mdb;Persist Security Info=True;Jet OLEDB:Database Password=123" providerName="System.Data.OleDb"/>
    <add name="SQLite" connectionString="Data Source=|DataDirectory|data.db;Version=3;Cache Size=8000;Page Size=4096;Synchronous=Off;journal mode=Off;" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>