<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--图表控件-->
    <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/text/;" />
  </appSettings>
  <connectionStrings />
  <!--权限配置开始-->
  <!--<location path="ckeditor">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Developer">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
  <!--权限配置结束-->
  <system.web>
    <!--开启输出错误详细信息 优先级顺序：Page_Error事件>ErrorPage属性>Application_Error事件> <customErrors>配置项-->
    <customErrors mode="Off" defaultRedirect="/index.shtml" />
    <!--启用调试-->
    <compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--会话模式开始-->
    <!--禁用-->
    <!--<sessionState mode="Off" cookieless="UseCookies" />-->
    <!--sql数据库 aspnet_regsql -ssadd -S . -U sa -P password -d ASPState -sstype c-->
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="server=.;database=ASPState;uid=sa;pwd=password;" cookieName="SessionId" timeout="30" cookieless="UseCookies"></sessionState>-->
    <!--状态服进程-->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieName="SessionId" timeout="30" cookieless="UseCookies"></sessionState>-->
    <!--内存-->
    <sessionState mode="InProc" cookieName="SessionId" timeout="30" cookieless="UseCookies" />
    <!--Sqlite3托管Session-->
    <!--<sessionState mode="Custom" customProvider="Sqlite" cookieName="SessionId" timeout="30" cookieless="UseCookies">
      <providers>
        <add name="Sqlite" type="WebSite.Plugins.SQLiteSessionStateStoreProvider,WebSite.Plugins" />
      </providers>
    </sessionState>-->
    <!--Redis托管Session-->
    <!--<sessionState mode="Custom" customProvider="RedisSessionStateProvider">
      <providers>
        <clear />
        <add name="RedisSessionStateProvider" type="WebSite.Plugins.RedisSessionStateStoreProvider,WebSite.Plugins" />
      </providers>
    </sessionState>-->
    <!--会话模式结束-->
    <!--运行参数-->
    <httpRuntime maxRequestLength="2097151" executionTimeout="300" enableVersionHeader="false" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--启用管理员权限-->
    <!--<identity userName="administrator" password="123456" impersonate="true"/>-->
    <!--匿名标识配置-->
    <anonymousIdentification cookieName="AnonimanID" enabled="true" cookieless="UseCookies" cookieTimeout="43200" cookieProtection="All" />
    <!--身份验证设置-->
    <authentication mode="Forms">
      <forms loginUrl="~/Developer/Login.aspx" defaultUrl="~/Developer" timeout="2880" name="CookieID" />
    </authentication>
    <!--页面参数设置-->
    <pages enableSessionState="false" enableViewState="false">
      <namespaces>
        <!--<add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />-->
        <add namespace="System.IO" />
        <add namespace="System.Data" />
        <add namespace="MSSQLDB" />
        <add namespace="CommonUtils" />
        <add namespace="WebSite.Core" />
        <add namespace="WebSite.Models" />
        <add namespace="WebSite.Config" />
        <add namespace="WebSite.Controls" />
        <add namespace="WebSite.BackgroundPages" />
      </namespaces>
      <controls>
        <add tagPrefix="aspx" namespace="WebSite.Controls" assembly="WebSite.Controls" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!--缓存配置-->
          <add name="Index" enabled="true" duration="60" varyByParam="none" location="ServerAndClient" />
          <add name="IndexPage" enabled="true" duration="60" varyByParam="groupid" location="ServerAndClient" />
          <add name="List" enabled="true" duration="60" varyByParam="groupid,page" location="ServerAndClient" />
          <add name="Article" enabled="true" duration="600" varyByParam="groupid,id,page" location="Client" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <!--<roleManager cacheRolesInCookie="false" enabled="false" />-->
    <httpModules>
      <!--<add name="GlobalModule" type="CommonUtils.IHttpModule.GlobalModule,CommonUtils" />-->
      <!--<add name="ThumImage" type="CommonUtils.IHttpModule.ThumImage,CommonUtils" />-->
      <!--<add name="ErrorModule" type="CommonUtils.IHttpModule.ErrorModule,CommonUtils" />-->
    </httpModules>
    <httpHandlers>
      <!--文件上传接口-->
      <add path="Upload.axd" verb="*" type="CommonUtils.IHttpModule.Upload,CommonUtils" />
      <!--验证码组件-->
      <!--<add path="AuthCode.axd" verb="*" type="CommonUtils.IHttpModule.AuthCode,CommonUtils" />-->
      <!--<add path="AuthCode2.axd" verb="*" type="CommonUtils.IHttpModule.AuthCode2,CommonUtils" />-->
      <add path="ChartImg.axd" verb="*" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Kroppr.axd" verb="POST" type="WebSite.Controls.Kroppr,WebSite.Controls" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="*" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="shtml" path="*.shtml" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <!--文件上传接口-->
      <!--<add name="Upload" path="Upload.axd" verb="*" type="CommonUtils.IHttpModule.Upload,CommonUtils" />-->
      <!--验证码组件-->
      <!--<add name="AuthCode" path="AuthCode.axd" verb="*" type="CommonUtils.IHttpModule.AuthCode,CommonUtils" />-->
      <add name="Kroppr" path="Kroppr.axd" verb="*" type="WebSite.Controls.Kroppr,WebSite.Controls" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--修改响应头Server信息-->
      <!--<add name="GlobalModule" type="CommonUtils.IHttpModule.GlobalModule,CommonUtils" />-->
      <!--错误处理-->
      <!--<add name="ErrorModule" type="CommonUtils.IHttpModule.ErrorModule,CommonUtils" />-->
      <!--缩略图组件-->
      <!--<add name="ThumImage" type="CommonUtils.IHttpModule.ThumImage,CommonUtils" />-->
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Vary" value="Accept-Encoding" />
        <!--拒绝被嵌入框架iframe-->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <!--浏览器 IE7 兼容模式-->
        <!--<add name="X-UA-Compatible" value="IE=EmulateIE7"/>-->
        <!--移除X-Powered-By标识-->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--禁用IIS默认错误提示-->
    <httpErrors errorMode="Custom">
      <clear />
    </httpErrors>
    <!--静态文件缓存设置-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="168.00:00:00" />
    </staticContent>
    <!--默认页面设置-->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <!--IIS压缩设置-->
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
  </system.webServer>
  <system.net>
    <settings>
      <!--HTTP 417错误-->
      <servicePointManager expect100Continue="false" />
    </settings>
    <connectionManagement>
      <!--同一IP连接数-->
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net>
  <runtime>
    <!--Aspnet.config System.OutOfMemoryException-->
    <gcServer enabled="false" />
    <gcConcurrent enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.94.0" newVersion="1.0.94.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>