<?xml version="1.0"?>
<configuration>
  <location path="AuthCode.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="js">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <system.web>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages enableViewState="true" validateRequest="false" enableSessionState="false"/>
    <httpRuntime maxRequestLength="2097111151" requestValidationMode="2.0"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>